// Font Style
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;600;800&display=swap');

// Variables
// content colors
$primary-color : #181E34;
$secondary-color : #92979B;
$parent-bg-color: #000;
$child-bg-color :  #EBF4FA;

// btns - colors
$danger : rgb(247, 30, 30);
$success : rgb(5, 131, 5);
$warning : rgb(236, 236, 52);
$primary-btn : rgb(65, 117, 239);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    color: $parent-bg-color;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $child-bg-color;
    max-width: 850px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    position: relative;
    

    .sign-up-container{
        position: absolute;
        right: 0;
        z-index: 2;
        transition: all .5s ease;
    }      
    .sign-in-container{
        position: absolute;
        right: 0;
        z-index: 3;
        transition: all .5s ease;
    } 
    .form-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center ;
        width: 50%;
        height: 100%;
        background-color: $child-bg-color;
        
        .social-container{
            display: flex;
            justify-content: center;
            gap: 20px;
        
            .social{
                border: 1px solid $secondary-color;
                display: flex;
                margin: 10px 0;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                transition: all 300ms ease;
            
                &:hover{
                    background-color: $primary-color;
                } 
                &:hover i{
                    color: $child-bg-color;
                }
            }
        }
        .infield{
            max-width: 300px;
            width: 100%;
            position: relative;
            margin: 15px auto;
        
            input{
                outline: none; 
                min-width: 300px;
                padding: 10px 10px  10px 40px;
                border: none;
                border-bottom: 2px solid transparent;

                    &:focus{
                        border-color: $primary-color;
                    }
                    &:not(:placeholder-shown){
                        border-color: $primary-color;
                    }
            
                }
            label{
                position: absolute;
                left: 15px;
                top: 10px;
            }
            #eye{
                all: unset;
                cursor: pointer;
                position: absolute;
                right: 15px;
                top: 10px;
            }
        }
        
        button{
            all: unset;
            padding: 5px 10px;
            border: 1px solid $secondary-color;
            border-radius: 5px;
            cursor: pointer;
            transition: all 300ms ease;

            &:hover{
                background-color: $primary-color;
                color: $child-bg-color;
            }
        }

    }

    .overlay-container{
        .overlay-panel{
            display: grid;
            justify-items: center;
            align-content: center;
            background-color: $primary-color;
            color: $child-bg-color;
            height: 100%;
            text-align: center;
    
        }
        .overlay{
            width: 50%;
           
        .overlay-right{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 50%;
            transition: all .5s ease;
            p{
                margin: 20px 0;
                width: 200px;
            }

            button{
                all: unset;
                padding: 5px 10px;
                border: 1px solid $secondary-color;
                border-radius: 5px;
                cursor: pointer;
                transition: all 300ms ease;

                &:hover{
                    background-color: $child-bg-color;
                    color: $primary-color;
                }
            }
            }
        
        .overlay-left{  
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 50%;
            transition: all .5s ease;
      

            p{  
                width: 200px;
                margin: 20px auto;
                text-align: center;
            }

            button{
                all: unset;
                padding: 5px 10px;
                border: 1px solid $secondary-color;
                border-radius: 5px;
                cursor: pointer;
                transition: all 300ms ease;

                &:hover{
                    background-color: $child-bg-color;
                    color: $primary-color;
                }
            }
        }
        }
    }
}

form:last-child{
    display: block;
    text-align: center;
}
.forgot{
    font-size: 12px;
    display: block;
    margin: 15px 0;

    &:hover{
        text-decoration: underline;
    }
}

body.active .overlay-container .overlay .overlay-left{
    transform: translateX(100%);
    z-index: 1;
}
body.active .overlay-container .overlay .overlay-right{
    transform: translateX(100%);
  
}

body.active .container .sign-in-container{
    transform: translateX(-100%);
    z-index: 1;
}
body.active .container .sign-up-container{
    transform: translateX(-100%);
}

